.card {
  background-color: #101010d1;
  color: #f0f2f5;
  border: 20px solid rgba(16, 16, 16, 0.63);
  box-shadow: inset 0 0 0 2px #ffffff;
  box-sizing: border-box;
}

button a {
  color: grey;
}

button a:hover {
  color: white;
}

.inner-border {
  border: 20px solid #101010d1;
  box-shadow: inset 0 0 0 10px #ffffff;
  box-sizing: border-box;
}
